*
!.gitignore

!README.md
!LICENSE

!Makefile

!.clang-format

!include/
!include/*.h

!src/
!src/*.c
!src/*.h
!src/*.map

!test/
!test/*.c
!test/*.h
!test/*.sh
!test/*/
!test/*/*.c
!test/*/*.h
!test/*/*.sh
!test/*/*.py
!test/*.txt
